h1{
    text-align: center;
    line-height: 20px;
    
}
h2{
    text-align: center;
    
}
h4{
    text-align: left;
    color: brown;
    text-size-adjust:40px;
    text-decoration-color:  rgb(215, 151, 200);
    text-decoration-line: underline;
}
P{
    align-content: baseline;
}


table{
    
    width: 500px;
    height: 200px;
    background-color: rgb(215, 151, 200);
    text-align: center;
    
}
.container{
    margin-left: 50px;
    margin-right: 50px;
}
.gh{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    color: blueviolet;
    background-color: rgb(246, 203, 211);
    
}
div{
    
}
ul{
    color: blueviolet;
    text-decoration:solid;
}
img{
    height: 150px;
    
    
}

.jumbotron{
    background-color: rgb(220, 195, 220);
    display:flex;
    justify-content: space-between;
}
li{
    padding-left: 50px;
}
